node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Vite temp files (generated during build, should not be committed)
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
