@font-face {
  font-family: "Outfit Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("@fontsource-variable/outfit/files/outfit-latin-wght-normal.woff2")
    format("woff2-variations");
}
@font-face {
  font-family: "EB Garamond Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 400 800;
  src: url("@fontsource-variable/eb-garamond/files/eb-garamond-latin-wght-normal.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "EB Garamond Variable";
  font-style: italic;
  font-display: swap;
  font-weight: 400 800;
  src: url("@fontsource-variable/eb-garamond/files/eb-garamond-latin-wght-italic.woff2")
    format("woff2-variations");
}
